<div class="edit-container">
  <nav class="nav flex-column col-2 alin-item">
    <div aria-current="page">
      <%= link_to "アカウント", user_path(current_user.id), class: "nav-link active" %>  
    </div>
    <%= link_to "プロフィール", edit_user_path(current_user.id), class: "nav-link" %>  
  </nav>  
  <div class="edit-main bg-light col-10">
    <div class="container">
      <div class="edit-card card">
        <div class="card-body">
          <h3 class="card-title">アカウント</h3>
            <div class="row">
              <div class="col-4">
                <label class="f-label">メールアドレス</label>
              </div>
              <div class="col-8">
                <%= current_user.email %>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <label class="f-label">パスワード</label>  
              </div>
              <div class="col-8">
                ***********
              </div>  
            </div>
            <%= link_to "編集", account_edit_path, class: "btn btn-primary" %>
        </div>
      </div>  
    </div>
  </div>
</div>