<div class="top-page">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Potepan Shareでまだ体験したことのない旅をしよう</h3>
        <p>エリア</p>
        <input >
        <a href="#" class="btn btn-primary">探す</a>
      </div>
    </div>
  </div>
</div>
<div class="top-page-2 container">
  <h3 class="">おすすめのエリア</h3>
  <div class="row">
    <div class="col-3 images">
      <span>東京</span>
      <%= link_to image_tag("https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg"), root_url %>
    </div>
    <div class="col-3 images">
      <span>大阪</span>
      <%= link_to image_tag("https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg"), root_url %>
    </div>
    <div class="col-3 images">
      <span>京都</span>
      <%= link_to image_tag("https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg"), root_url %>
    </div>
    <div class="col-3 images">
      <span>札幌</span>
      <%= link_to image_tag("https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg"), root_url %>
    </div>
  </div>
</div>