<header>
  <nav class="navbar navbar-light ">
    <div class="header-left">
      <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png"
           alt="ポテパン">
      <input>
      <input>  
    </div>
    <div class="header-right"> 
      <button class="btn btn-primary mx-1">ログイン</button>
      <button class="btn btn-secondary mx-1">登録する</button>
    </div>
  </nav>
</header>